<section id="header" class="header max-body-width">
    <p><a class="home" href="{{- `/` -}}">
            {{- with .Site.Params.logo -}}
            <img class="site-logo" src="{{- . -}}" alt />
            <span class="site-name">Istio By Example</span>
            {{- else -}}
            <span class="site-name">{{- .Site.Title -}}</span>
            {{- end -}}
        </a></p>
    <p>This is a translation of <a href="https://istiobyexample.dev">Istio By Example</a> | こちらは<a href="https://istiobyexample.dev">Istio By Example</a>を翻訳したものです</p>
</section>
